$digi-update-btn: #57cfb1;

$product-btn-color: black;
$product-btn-bg: #5aeea5;
$product-btn-bg-hover: #00dc70;

$header-bg-light: #a4b4c1;
$header-fg-light: #1e2329;
$header-bg-dark: #181a20;
$header-fg-dark: #eaecef;

$body-bg-light: #f5f7fa;
$body-bg-dark: #343a42;
$body-fg-dark: #f5f7fa;

$container-bg-light: #fafafa;
$container-fg-light: #1e2329;
$container-bg-dark: #0b0e11;
$container-fg-dark: #eaecef;

$sub-container-bg-light: #fafafa;
$sub-container-fg-light: #1e2329;
$sub-container-bg-dark: #0b0e11;
$sub-container-fg-dark: #eaecef;

$logout-btn-bg: #ea5858;
$logout-btn-bg-hover: #e72626;
$logout-btn-bg-focus: #931e1e;
$logout-btn-fg: #f5f7fa;
$logout-btn-bg-image: linear-gradient(rgb(248, 47, 47) 0%, rgb(240, 11, 11) 100%);
$logout-btn-bg-image-hover: linear-gradient(rgb(255, 81, 81) 0%, rgb(237, 35, 35) 100%);

$system-btn-bg: #256ece;
$system-btn-bg-hover: #298aff;
$system-btn-bg-focus: #0b3979;
$system-btn-fg: #212833;
$system-btn-bg-image: linear-gradient(rgb(248, 209, 47) 0%, rgb(240, 185, 11) 100%);
$system-btn-bg-image-hover: linear-gradient(rgb(255, 226, 81) 0%, rgb(237, 196, 35) 100%);

$primary-btn-fg: #212833;
$primary-btn-bg-image: linear-gradient(rgb(91, 248, 47) 0%, rgb(11, 240, 22) 100%);
$primary-btn-bg-image-hover: linear-gradient(rgb(104, 255, 81) 0%, rgb(72, 237, 35) 100%);

$matrix-bg:#00ff1c;
$matrix-bg-hover:#52ff4c;
