$box-border-color: #ececec;
$separator-color: #d0d0d0;
$search-bar-color:#f1f1f1;

$btn-border-radius: 0.8rem;

$desktop-container-margin-horizontal: 10%;
$landscape-breakpoint-900:900px;

$category-search-input-height: 4rem;