@import "font/font_family";
@import "font/font_size";
@import "utils/margins";
@import "utils/paddings";
@import "animation/animations";
@import "utils/display";
@import "utils/width";
//@import "form/inputs";
@import "utils/colors";
@import "utils/alerts";
@import "globals";
@import "buttons";
@import "products";
@import "colors";
@import "./components/header";
@import "./components/matrix-rain";

*, ::after, ::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

$body-font-family: Samim;
$title-font: Samim;

.v-application {
  font-family: $body-font-family, sans-serif !important;
}

//.container {
//  background-color: #1e1e1e !important;
//}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Samim, Roboto-Regular, Sahel, sans-serif !important;
  direction: rtl;
  overflow: auto !important;
}

.v-data-table__mobile-row {
  justify-content: flex-start !important;
}

//.v-application{
//  font-family: Samim, Roboto-Regular, Sahel, sans-serif!important;
//}
//
//html {
//  font-size: 62.5%!important;
//}
//
//body {
//  font-size: 1.5rem
//}

//#app {
//  width: 100%;
//  height: 100%;
//  display: flex;
//  flex-direction: column;
//}
