.font-vh-0 { font-size: 0vh; }
.font-vh-1 { font-size: 1vh; }
.font-vh-2 { font-size: 2vh; }
.font-vh-3 { font-size: 3vh; }
.font-vh-4 { font-size: 4vh; }
.font-vh-5 { font-size: 5vh; }
.font-vh-6 { font-size: 6vh; }
.font-vh-7 { font-size: 7vh; }
.font-vh-8 { font-size: 8vh; }
.font-vh-9 { font-size: 9vh; }
.font-px-0 { font-size: 0px; }
.font-px-1 { font-size: 1px; }
.font-px-2 { font-size: 2px; }
.font-px-3 { font-size: 3px; }
.font-px-4 { font-size: 4px; }
.font-px-5 { font-size: 5px; }
.font-px-6 { font-size: 6px; }
.font-px-7 { font-size: 7px; }
.font-px-8 { font-size: 8px; }
.font-px-9 { font-size: 9px; }
.font-px-10 { font-size: 10px; }
.font-px-11 { font-size: 11px; }
.font-px-12 { font-size: 12px; }
.font-px-13 { font-size: 13px; }
.font-px-14 { font-size: 14px; }
.font-px-15 { font-size: 15px; }
.font-px-16 { font-size: 16px; }
.font-px-17 { font-size: 17px; }
.font-px-18 { font-size: 18px; }
.font-px-19 { font-size: 19px; }
.font-px-20 { font-size: 20px; }
.font-px-21 { font-size: 21px; }
.font-px-22 { font-size: 22px; }
.font-px-23 { font-size: 23px; }
.font-px-24 { font-size: 24px; }
.font-px-25 { font-size: 25px; }
.font-px-26 { font-size: 26px; }
.font-px-27 { font-size: 27px; }
.font-px-28 { font-size: 28px; }
.font-px-29 { font-size: 29px; }
.font-px-30 { font-size: 30px; }
.font-px-31 { font-size: 31px; }
.font-px-32 { font-size: 32px; }
.font-px-33 { font-size: 33px; }
.font-px-34 { font-size: 34px; }
.font-px-35 { font-size: 35px; }
.font-px-36 { font-size: 36px; }
.font-px-37 { font-size: 37px; }
.font-px-38 { font-size: 38px; }
.font-px-39 { font-size: 39px; }
.font-px-40 { font-size: 40px; }
.font-px-41 { font-size: 41px; }
.font-px-42 { font-size: 42px; }
.font-px-43 { font-size: 43px; }
.font-px-44 { font-size: 44px; }
.font-px-45 { font-size: 45px; }
.font-px-46 { font-size: 46px; }
.font-px-47 { font-size: 47px; }
.font-px-48 { font-size: 48px; }
.font-px-49 { font-size: 49px; }
.font-px-50 { font-size: 50px; }
.font-px-51 { font-size: 51px; }
.font-px-52 { font-size: 52px; }
.font-px-53 { font-size: 53px; }
.font-px-54 { font-size: 54px; }
.font-px-55 { font-size: 55px; }
.font-px-56 { font-size: 56px; }
.font-px-57 { font-size: 57px; }
.font-px-58 { font-size: 58px; }
.font-px-59 { font-size: 59px; }
.font-px-60 { font-size: 60px; }
.font-px-61 { font-size: 61px; }
.font-px-62 { font-size: 62px; }
.font-px-63 { font-size: 63px; }
.font-px-64 { font-size: 64px; }
.font-px-65 { font-size: 65px; }
.font-px-66 { font-size: 66px; }
.font-px-67 { font-size: 67px; }
.font-px-68 { font-size: 68px; }
.font-px-69 { font-size: 69px; }
.font-px-70 { font-size: 70px; }
.font-px-71 { font-size: 71px; }
.font-px-72 { font-size: 72px; }
.font-px-73 { font-size: 73px; }
.font-px-74 { font-size: 74px; }
.font-px-75 { font-size: 75px; }
.font-px-76 { font-size: 76px; }
.font-px-77 { font-size: 77px; }
.font-px-78 { font-size: 78px; }
.font-px-79 { font-size: 79px; }
.font-px-80 { font-size: 80px; }
.font-px-81 { font-size: 81px; }
.font-px-82 { font-size: 82px; }
.font-px-83 { font-size: 83px; }
.font-px-84 { font-size: 84px; }
.font-px-85 { font-size: 85px; }
.font-px-86 { font-size: 86px; }
.font-px-87 { font-size: 87px; }
.font-px-88 { font-size: 88px; }
.font-px-89 { font-size: 89px; }
.font-px-90 { font-size: 90px; }
.font-px-91 { font-size: 91px; }
.font-px-92 { font-size: 92px; }
.font-px-93 { font-size: 93px; }
.font-px-94 { font-size: 94px; }
.font-px-95 { font-size: 95px; }
.font-px-96 { font-size: 96px; }
.font-px-97 { font-size: 97px; }
.font-px-98 { font-size: 98px; }
.font-px-99 { font-size: 99px; }
.font-em-0 { font-size: 0.0em; }
.font-em-1 { font-size: 0.1em; }
.font-em-2 { font-size: 0.2em; }
.font-em-3 { font-size: 0.3em; }
.font-em-4 { font-size: 0.4em; }
.font-em-5 { font-size: 0.5em; }
.font-em-6 { font-size: 0.6em; }
.font-em-7 { font-size: 0.7em; }
.font-em-8 { font-size: 0.8em; }
.font-em-9 { font-size: 0.9em; }
.font-em-10 { font-size: 1.0em; }
.font-em-11 { font-size: 1.1em; }
.font-em-12 { font-size: 1.2em; }
.font-em-13 { font-size: 1.3em; }
.font-em-14 { font-size: 1.4em; }
.font-em-15 { font-size: 1.5em; }
.font-em-16 { font-size: 1.6em; }
.font-em-17 { font-size: 1.7em; }
.font-em-18 { font-size: 1.8em; }
.font-em-19 { font-size: 1.9em; }
.font-em-20 { font-size: 2.0em; }
.font-em-21 { font-size: 2.1em; }
.font-em-22 { font-size: 2.2em; }
.font-em-23 { font-size: 2.3em; }
.font-em-24 { font-size: 2.4em; }
.font-em-25 { font-size: 2.5em; }
.font-em-26 { font-size: 2.6em; }
.font-em-27 { font-size: 2.7em; }
.font-em-28 { font-size: 2.8em; }
.font-em-29 { font-size: 2.9em; }
.font-em-30 { font-size: 3.0em; }
.font-em-31 { font-size: 3.1em; }
.font-em-32 { font-size: 3.2em; }
.font-em-33 { font-size: 3.3em; }
.font-em-34 { font-size: 3.4em; }
.font-em-35 { font-size: 3.5em; }
.font-em-36 { font-size: 3.6em; }
.font-em-37 { font-size: 3.7em; }
.font-em-38 { font-size: 3.8em; }
.font-em-39 { font-size: 3.9em; }
